<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /hris_mpc/
    # Redirect requests for non-existing files to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L,QSA]
</IfModule>
