# Disable script execution
<FilesMatch "\.(php|php5|php7|phtml)$">
    Deny from all
</FilesMatch>

# Prevent access to .htaccess itself
<Files ".htaccess">
    Order allow,deny
    Deny from all
</Files>
